.mainContainer {
    display: flex;
    flex: 1;
    width:95%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.internalContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.lineContainer{
    width:100%;
    border:solid;
    border-color:#808080;
    margin-bottom:30px;
}

.imgContainer{
    display:flex;
    flex:0.6;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
}

.titleStyle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    font-weight:900;
}

.priceContianer{
    display:flex;
    flex:0.4;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-end
}
.button {
    background-color: #f3533c;
}
.cartButton {
    background-color: #deb66e;
}
.searchText{
    margin-bottom:8px;
}
.black {
    color: black;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.Orange {
    color: orange;
}

.Pink {
    color: pink;
}