@model IEnumerable<ProductsWebProject.Models.Products>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<div class="mainContainer" >
    @foreach (var item in Model)
    {
      <div class="internalContainer " >
          <div class="row imgContainer">
            <img height="150" width="150" src="data:image/png;base64,@item.image"/>
            <div class="titleStyle" style="margin-left:10px">
            @Html.DisplayFor(modelItem => item.title)
            </div>
          </div>
          <div class=" priceContianer">
              <div class="titleStyle">
                 @Html.DisplayFor(modelItem => item.price)₪
              </div>
               <div>
                   @Html.ActionLink("Details", "Details", new { id=item.Id })
                  <a asp-controller="cart" asp-action="buy" asp-route-id="@item.Id">Add To Cart</a>
               </div>
          </div>


      </div>   
    }
</div>

